body {

    background-image: url(sistemass.jpg);
    background-size: cover;

    min-height: 100vh;
    min-width: 100vh;
    background-position: center;

}



.name {
    width: 100;
    height: 200px;
    background: #357DED;
    margin: 5% auto;
    transform: skewY(-4deg);
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p1 {
    color: white;
    margin: 5% auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    transform: skewY(4deg);
    margin-top: 2;
    margin-bottom: 0;
}

.name .content .p2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transform: skewY(4deg);
    margin-top: 0;
    margin-bottom: 0;
}

.name .img {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .img img {
    width: 180px;
    height: 180px;
}

.info {
    width: 70%;
    height: 250px;
    background-color: #357DED;
    margin: 5% auto;
    padding: 40px;
    border-radius: 20px;
}

.info .tituloseccion {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white solid;
}

.info .tituloinfo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.info .masinfor {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}


.menu {
    list-style: none;
    background: #357DED;
    width: 85%;
    max-width: 5490px;
    margin: auto;
    padding: 0;

}

.menu li {
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    font-size: 25px;

}


.menu li a:hover {
    background: #8CBCB9;

}

.menu2>li:first-child>a {
    background-image: url(../img/volver.webp);
    background-size: 50px;
    background-repeat: no-repeat;
    width: 4.5%;
    margin: 6%;
    border-radius: 10%;
    height: 50px;
    background-color: #357DED;
    background-position: center;
    display: block;
}

.menu2>li:first-child:hover>a {
    background-color: #8CBCB9;
}


form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2, );
    border-radius: 20px;
    text-align: center;
    width: 360px;
    background-color: #737f82;
    margin-left: 35%;



}

form h2 {
    color: white;
    font-size: 25px;
}



.input-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: #818ec6;
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
}

::placeholder {
    color: #bfc9f3;
    font-size: 15px;
}

.focus {
    outline: 1px solid #14f9A6;

}

.btn {
    background-color: white;
    color: #146031;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: #14f9A6;
}




.Estudios {
    width: 35%;
    height: 500px;
    background-color: #357DED;

    padding: 40px;
    border-radius: 20px;
    /*margin-left: auto;*/
    /*-2*/

}

.Estudios .tituloestudio {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white solid;
}

.Estudios .titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.Estudios .masinfo {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.EstudiosA {
    width: 35%;
    height: 500px;
    background-color: #357DED;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    /*margin-left: -4%;*/
    /* margin-right: auto;*/
    /*-2*/
}


.EstudiosA .tituloestudio {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white solid;
}

.EstudiosA .titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.EstudiosA .masinfo {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.EstudiosA .masinfor {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-left: 125px;
}

.contenedor {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.contenedor .Estudios .imagen {
    position: absolute;
    margin: 2%;
    width: 200px;
    height: 200px;
    overflow: hidden;



}

.contenedor .Estudios .imagen img {

    width: 200px;
    height: 200px;


}

.contenedor .EstudiosA .imagencolegio {

    position: absolute;
    margin: 30px;
    width: 300px;
    height: 200px;
    border-radius: 1%;
    overflow: hidden;
}

.contenedor .EstudiosA .imagencolegio img {

    width: 200px;
    height: 150px;
}


.contenedor1 {
    display: flex;
    margin: 5%;
}

.EstudiosU {
    width: 35%;
    height: 500px;
    background-color: #357DED;

    padding: 40px;
    border-radius: 20px;

    /*-2*/

}

.EstudiosU .tituloestudio {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white solid;
}

.EstudiosU .titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.EstudiosU .masinfo {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.EstudiosU .masinfor {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-left: 125px;
}


.contenedor1 .EstudiosU .imagenUniversidad {
    position: absolute;
    margin: 2%;

    width: 150x;
    height: 150px;
    overflow: hidden;



}

.contenedor1 .EstudiosU .imagenUniversidad img {

    width: 150px;
    height: 150px;


}

.EstudiosSena {
    width: 35%;
    height: 500px;
    background-color: #357DED;
    margin: auto;
    padding: 40px;
    border-radius: 20px;


}

.EstudiosSena .tituloestudio {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white solid;
}

.EstudiosSena .titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 15px;
}

.EstudiosSena .masinfo {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.EstudiosSena .masinfor {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-left: 16%;
}

.EstudiosSena .masinforma {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-left: 16%;
    font-size: large;
    margin-top: -1%;
}


.contenedor1 .EstudiosSena .imagenSena {
    position: absolute;

    margin: 2%;
    height: 150px;
    border-radius: 1%;
    overflow: hidden;
}

.contenedor1 .EstudiosSena .imagenSena img {

    width: 200px;
    height: 150px;
}



#botonArriba {
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 40px;
    transition: all 1s;
}

.habilidad {
    width: 85%;
    height: 600px;
    background-color: #357DED;
    margin: 10%;
    padding: 40px;
    border-radius: 20px;
    margin-left: auto;



}

.habilidad .habilidades {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}



.slider {
    width: 60vw;
    height: auto;
    overflow: hidden;
    margin: 30% auto;
    margin-top: 3%;


}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px * 12);
}

.slider .slide {
    width: 300px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-animation: translatex(0);
        transform: translatex(0);
    }

    100% {
        -webkit-animation: translatex(calc(-300px * 7));
        transform: translatex(calc(-300px * 7));
    }
}

@media (max-width:932px) {
    .name {
        width: 90%;
        height: 180px;
    }

    .name .content {
        width: 45%;
        height: 45%;

    }

    .name .content .p1 {

        font-size: 25px;

    }

    .name .content .p2 {

        font-size: 12px;

    }

    .name .img {

        width: 160px;
        height: 160px;

    }

    .name .img img {
        width: 160px;
        height: 160px;
    }

    .Estudios {
        width: 30%;
        height: 500px;


    }

    .contenedor .Estudios .imagen {
        width: 120px;
        height: 120px;
        margin: 5%;
    }

    .contenedor .Estudios .imagen img {
        width: 120px;
        height: 120px;
    }



    .EstudiosA {
        width: 30%;
        height: 500px;
    }

    .contenedor .EstudiosA .imagencolegio {
        width: 120px;
        height: 120px;
    }

    .contenedor .EstudiosA .imagencolegio img {
        width: 120px;
        height: 120px;
    }

    .EstudiosU {
        width: 30%;
        height: 500px;
    }

    .contenedor1 .EstudiosU .imagenUniversidad {
        width: 120px;
        height: 120px;
    }

    .contenedor1 .EstudiosU .imagenUniversidad img {
        width: 120px;
        height: 120px;
    }


    .EstudiosSena {
        width: 30%;
        height: 500px;
    }

    .contenedor1 .EstudiosSena .imagenSena {
        width: 120px;
        height: 120px;
    }

    .contenedor1 .EstudiosSena .imagenSena img {
        width: 120px;
        height: 120px;
    }

    .Estudios .tituloestudio {

        font-size: 20PX;

    }

    .Estudios .titulo {
        font-size: 16PX;
    }

    .Estudios .masinfo {
        font-size: 16PX;

    }

    .EstudiosA .tituloestudio {

        font-size: 20PX;

    }

    .EstudiosA .titulo {

        font-size: 16px;

    }

    .EstudiosA .masinfo {

        font-size: 16PX;

    }

    .EstudiosA .masinfor {
        font-size: 16PX;
        margin-left: 5%;
    }

    .EstudiosU .tituloestudio {

        font-size: 20PX;

    }

    .EstudiosU .titulo {

        font-size: 16PX;

    }

    .EstudiosU .masinfo {

        font-size: 16PX;

    }

    .EstudiosU .masinfor {
        font-size: 16PX;
        margin-left: 5%;
    }

    .EstudiosSena .tituloestudio {

        font-size: 20PX;

    }

    .EstudiosSena .titulo {

        font-size: 16PX;

    }

    .EstudiosSena .masinfo {

        font-size: 16PX;
    }

    .EstudiosSena .masinfor {
        font-size: 16PX;
    }

    .EstudiosSena .masinforma {

        font-size: 16PX;

    }
}

@media (max-width:700px) {
    .name {
        width: 70%;
        height: 180px;
    }

    .name .content {
        width: 40%;
        height: 40%;
        margin: 5%;
        left: 10%;
    }

    .name .content .p1 {

        font-size: 20px;

    }

    .name .content .p2 {

        font-size: 10px;

    }

    .name .img {

        width: 120px;
        height: 120px;

    }

    .name .img img {
        width: 120px;
        height: 120px;
    }

    .menu {

        width: 50%;
        max-width: 5490px;

    }

    .menu li a {
        font-size: 50px;
    }

    .info {
        width: 50%;
        height: 160px;


    }

    .info .tituloseccion {

        font-size: 20px;

    }

    .info .tituloinfo {

        font-size: 12px;

    }

    .info .masinfor {

        font-size: 12px;

    }

    .Estudios {
        width: 15%;
        height: 430px;


    }

    .contenedor .Estudios .imagen {
        width: 90px;
        height: 90px;
        left: 25%;
    }

    .contenedor .Estudios .imagen img {
        width: 90px;
        height: 90px;



    }



    .EstudiosA {
        width: 15%;
        height: 430px;
    }

    .contenedor .EstudiosA .imagencolegio {
        width: 90px;
        height: 90px;
        margin-left: -3%;
    }

    .contenedor .EstudiosA .imagencolegio img {
        width: 90px;
        height: 90px;
    }

    .EstudiosU {
        width: 15%;
        height: 430px;
    }

    .contenedor1 .EstudiosU .imagenUniversidad {
        width: 90px;
        height: 90px;
        margin-left: -2%;

    }

    .contenedor1 .EstudiosU .imagenUniversidad img {
        width: 90px;
        height: 90px;
    }


    .EstudiosSena {
        width: 15%;
        height: 430px;
    }

    .contenedor1 .EstudiosSena .imagenSena {
        width: 90px;
        height: 90px;
        margin-left: -2%;
    }

    .contenedor1 .EstudiosSena .imagenSena img {
        width: 90px;
        height: 90px;
    }

    .Estudios .tituloestudio {

        font-size: 15PX;

    }

    .Estudios .titulo {
        font-size: 11PX;
    }

    .Estudios .masinfo {
        font-size: 11PX;

    }

    .EstudiosA .tituloestudio {

        font-size: 15PX;

    }

    .EstudiosA .titulo {

        font-size: 11px;

    }

    .EstudiosA .masinfo {

        font-size: 11PX;

    }

    .EstudiosA .masinfor {
        font-size: 11PX;
        margin-left: 5%;
    }

    .EstudiosU .tituloestudio {

        font-size: 15PX;

    }

    .EstudiosU .titulo {

        font-size: 11PX;

    }

    .EstudiosU .masinfo {

        font-size: 11PX;

    }

    .EstudiosU .masinfor {
        font-size: 11PX;
        margin-left: 5%;
    }

    .EstudiosSena .tituloestudio {

        font-size: 15PX;

    }

    .EstudiosSena .titulo {

        font-size: 11PX;

    }

    .EstudiosSena .masinfo {

        font-size: 11PX;
    }

    .EstudiosSena .masinfor {
        font-size: 11PX;
    }

    .EstudiosSena .masinforma {

        font-size: 11PX;

    }

    .habilidad {
        width: 70%;
        height: 500px;
        background-color: #357DED;
        margin: 10%;
        padding: 40px;
        border-radius: 20px;
        margin-left: auto;



    }

    .habilidad .habilidades {

        font-size: 11px;

    }



    .slider {
        width: 30vw;
        height: 35vw;



    }
}


/*
@media (max-width: 915px) {

    .EstudiosA .masinfo {
        margin-left: -4%;
        font-size: 10px;

    }

    .EstudiosA .masinfor {
        margin-left: -10%;

        font-size: 15px;

    }


}

@media (max-width: 780px) {
    .menu2>li:first-child>a {
        width: 5%;
        margin: 6%;
        background-size: 30px;
        height: 40px;

    }

    form {

        margin-left: 8%;

    }

}

@media (max-width: 1134px) {


    .contenedor .EstudiosA .imagencolegio {

        left: 62%;
        margin: 40px;
        width: 200px;
        height: 200px;
    }




    .EstudiosA .masinfo {
        margin-left: -2%;
        font-size: 17px;

    }

    .EstudiosA .masinfor {
        margin-left: -2%;
        font-weight: 15px;
        font-size: 17px;

    }


    .EstudiosSena .masinfor {
        margin-left: 20%;
        margin-left: -5%;
        font-size: 17px;
    }

    .EstudiosSena .masinforma {
        margin-left: 20%;
        margin-left: -5%;
        font-size: 17px;
    }



    .contenedor .EstudiosA .imagencolegio img {

        width: 200px;
        height: 200px;
    }

    .contenedor1 .EstudiosSena .imagenSena {
        margin-left: 2%;

        width: 180px;
        height: 180px;



    }

    .contenedor1 .EstudiosSena .imagenSena img {

        width: 180px;
        height: 180px;
    }
}

@media (max-width: 720px) {

    .contenedor .Estudios .imagen {
        margin: 10px;
        left: 2%;
        width: 20px;
        height: 160px;
        margin-left: -5%;



    }

    .contenedor .Estudios .imagen img {

        width: 150px;
        height: 200px;


    }

    .Estudios {
        width: 36%;
        height: 500px;
        margin-left: -2%;

    }

    .EstudiosA {
        width: 35%;
        height: 500px;
        margin-left: -3%;
        margin-right: 4%;

    }


    .EstudiosU {
        width: 34%;
        height: 500px;
        margin-left: -2%;

    }

    .EstudiosSena {
        width: 34%;
        height: 500px;
        margin-left: 12.3%;
        margin-right: -3%;

    }



    .contenedor .EstudiosA .imagencolegio {

        left: 80%;
        margin: 20px;
        width: 150px;
        height: 150px;
        margin-left: 1%;
        position: static;

    }

    .contenedor .EstudiosA .imagencolegio img {

        width: 150px;
        height: 150px;

    }
}



@media (max-width: 915px) {

    .contenedor1 .EstudiosU .imagenUniversidad {
        margin: 13%;
        margin-left: 10%;
        width: 200px;
        height: 200px;
        position: static;
    }
}

/*
@media (max-width: 915px) {

    .EstudiosA .masinfo {
        margin-left: -4%;
        font-size: 10px;

    }

    .EstudiosA .masinfor {
        margin-left: -10%;

        font-size: 15px;

    }

*/

/*
@media (max-width: 780px) {
    .menu2>li:first-child>a {
        width: 5%;
        margin: 6%;
        background-size: 30px;
        height: 40px;

    }

    form {

        margin-left: 8%;

    }

    .contenedor1 .EstudiosU .imagenUniversidad img {

        width: 200px;
        height: 200px;
    }



}

@media (max-width: 868px) {

    .contenedor .Estudios .imagen {
        margin: 70px;
        left: 20%;
        width: 200px;
        height: 200px;
        margin-left: -5%;



    }

    .info {
        width: 85%;
        height: 250px;
        background-color: #357DED;
        margin: 5% auto;
        padding: 40px;
        border-radius: 20px;
    }

}


@media (max-width: 756px) {

    .contenedor .Estudios .imagen {
        margin: 90px;
        left: 20%;
        width: 150px;
        height: 150px;
        margin-left: 1%;

        position: static;
    }

    .Estudios {
        width: 34%;
        height: 500px;
        margin-left: -2%;

    }

    .EstudiosA {
        width: 40%;
        height: 500px;
        margin-left: -4%;


    }

    .slider {
        width: 70vw;
        height: 40%;
        overflow: hidden;
        margin: 30% auto;
        margin-top: 3%;

    }

    .habilidad {
        width: 80%;
        height: 1500px;
        background-color: #357DED;
        margin: 10% auto;
        padding: 40px;
        border-radius: 20px;

    }




    .contenedor .EstudiosA .imagencolegio {

        left: 80%;
        margin: 20px;
        width: 150px;
        height: 150px;
        margin-left: 1%;
        position: static;

    }

    .contenedor .EstudiosA .imagencolegio img {

        width: 150px;
        height: 150px;

    }


    .contenedor1 .EstudiosU .imagenUniversidad {
        margin: 20%;
        margin-left: 5%;
        width: 160px;
        height: 160px;
        position: static;


    }

    .contenedor1 .EstudiosU .imagenUniversidad img {

        width: 180px;
        height: 180px;
    }



    .contenedor1 .EstudiosSena .imagenSena {

        width: 140px;
        height: 140px;
        position: static;




    }

    .contenedor1 .EstudiosSena .imagenSena img {

        width: 150px;
        height: 150px;


    }

    .habilidad {
        width: 80%;
        height: 550px;
        background-color: #357DED;
        margin: 10% auto;
        padding: 40px;
        border-radius: 20px;
        margin-left: 1%;

    }
}


@media (max-width: 586px) {
    .EstudiosA {
        width: 33%;
        height: 500px;
        margin-left: -4%;
        margin-right: 15%;


    }
}


@media (max-width: 600px) {
    .name {
        width: 112%;

        margin-left: 2%;
    }

    .name .content {
        width: 100%;
        height: 50%;
        position: absolute;
        left: 4%;
        margin-top: 5%;
    }

    .name .content .p1 {
        margin-top: 50%;
        margin: 5% auto;
        font-size: 25px;

    }

    .name .img {
        width: 160px;
        height: 160px;
    }

    .menu {
        width: 112%;
        margin: 2%;
        margin-left: 2%;
    }

    .info {
        width: 95%;
        height: 210px;
        margin-left: 3%;


    }

    .info .tituloseccion {
        font-size: 25px;
    }

    .info .tituloinfo {
        margin-left: -5%;
        font-size: 16px;

    }

    .info .masinfor {
        margin-left: -1%;
        font-size: 16px;

    }

    .menu li a {

        font-size: 25px;

    }

    .Estudios {
        width: 35%;
        height: 490px;
        margin-left: -3%;

    }

    .Estudios .tituloestudio {

        font-size: 25px;


    }

    .Estudios .titulo {
        font-size: 17px;
        margin-left: -25px;
    }

    .Estudios .masinfo {
        top: 30%;
        font-size: 17px;
        display: block;
        margin-left: -22px;

    }

    .contenedor .Estudios .imagen {
        margin: 90px;
        left: 20%;
        width: 150px;
        height: 150px;
        margin-left: 1%;

        position: static;

    }

    .EstudiosA {
        width: 47%;
        height: 490px;
    }


    .EstudiosA .tituloestudio {
        font-size: 25px;

    }

    .EstudiosA .titulo {
        margin-left: -15%;
        font-size: 17px;
        display: block;
    }

    .EstudiosA .masinfo {
        margin-left: -2%;
        font-size: 17px;

    }

    .EstudiosA .masinfor {
        margin-left: -2%;
        font-weight: 15px;
        font-size: 17px;

    }

    .contenedor .EstudiosA .imagencolegio {

        left: 80%;
        margin: 20px;
        width: 150px;
        height: 150px;
        margin-left: 1%;
        position: static;

    }

    .contenedor .EstudiosA .imagencolegio img {

        width: 150px;
        height: 150px;

    }

    .EstudiosU {
        width: 40%;
        height: 500px;
        margin: -7%;
        margin-left: -2%;

    }

    .EstudiosU .tituloestudio {

        font-size: 25px;

    }

    .EstudiosU .titulo {

        font-size: 17px;

        margin-left: -15%;
    }

    .EstudiosU .masinfo {
        margin-left: -1%;
        font-size: 17px;

    }

    .EstudiosU .masinfor {
        margin-left: 20%;
        margin-left: -3%;

    }

    .contenedor1 .EstudiosU .imagenUniversidad {
        margin: 40%;
        margin-left: 5%;
        width: 160px;
        height: 160px;
        position: static;


    }

    .contenedor1 .EstudiosU .imagenUniversidad img {

        width: 180px;
        height: 180px;
    }

    .EstudiosSena {
        width: 35%;
        height: 500px;
        margin-right: -4%;


    }

    .EstudiosSena .tituloestudio {

        font-size: 25px;

    }

    .EstudiosSena .titulo {

        font-size: 17px;

        margin-left: -15%;
    }

    .EstudiosSena .masinfo {
        margin-left: -1%;
        font-size: 17px;

    }

    .EstudiosSena .masinfor {
        margin-left: 20%;
        margin-left: -3%;
        font-size: 17px;
    }

    .EstudiosSena .masinforma {

        margin-left: -1%;
        font-size: 17px;

    }

    .contenedor1 .EstudiosSena .imagenSena {

        width: 140px;
        height: 140px;
        position: static;




    }

    .contenedor1 .EstudiosSena .imagenSena img {

        width: 150px;
        height: 150px;


    }

    .habilidad {
        width: 80%;
        height: 600px;
        background-color: #357DED;
        margin: 10% auto;
        padding: 40px;
        border-radius: 20px;

    }
}